@model FinalExam413_zm275.Models.Entertainers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntStageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntStageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntSsn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntSsn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntWebPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntWebPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEntered)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="EntertainerEdit" asp-route-id="@Model.EntertainerId">Edit</a> |
    <a asp-controller="Home" asp-action="EntertainerDelete" asp-route-id="@Model.EntertainerId">Delete</a> |
    <a asp-controller="Home" asp-action="Entertainers">Back to List</a>
</div>
